/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

li {
  list-style: none;
  text-align: center;
  padding-right: 6%;
}

body > * {
  text-align: center;
}